.contentWrapper {
    display: grid;
    grid-template-areas:
    'uD uM'
    'uD iA';
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 65% 35%;
    grid-gap: 10px;
}

.userDialogs {
    grid-area: uD;
    display: flex;
    flex-direction: column;
    height: 80vh;
    border-right: 1px solid #333;
}

.userMessage {
    grid-area: uM;
}

.inputArea {
    grid-area: iA;
}

.dialogItem {
    display: flex;
    align-items: center;
}

.dialogItem img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.dialogLink {
    color: #888;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.dialogLink.active {
    color: goldenrod;
}

.messageItem {
    margin-left: 15px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.messageItem.collocutorMessage {
    justify-content: flex-end;
    margin-right: 40%;
}

.messageCircle {
    height: 15px;
    width: 15px;
    border: 2px solid #333;
    border-radius: 15px;
}

.messageText {
    padding: 10px;
}

.inputAreaContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputArea textarea {
    width: 90%;
    height: 70px;
    border-radius: 10px;
}
.inputArea button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
    font-size: 1.1em;
    background-color: #777;
}

