.header {
    font-size: 1.6em;
    font-weight: bold;
}

.newPost textarea {
    width: 200px;
    height: 80px;
    border-radius: 15px;
}

.newPost button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}