.header {
    height: 120px;
}

.header img {
    margin-top: 40px;
    margin-left: 80px;
    width: 150px;
}
.login {
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
}
.login a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 10px;
}

.login a:hover {
    color: red;
    transition: .5s;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutBtn {
    cursor: pointer;
}

.logoutBtn:hover {
    color: red;
    transition: .5s;
}