.header {
    grid-area: header;
}

.header img {
    margin-top: 40px;
    margin-left: 40px;
}
.login {
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
}
.login a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: 10px;
}

.login a:hover {
    color: red;
    transition: .5s;
}