.formControl {
    width: 100%;
}

.error input textarea {
    width: 90%;
    border: 2px solid red;
}

.error span {
    color: red;
}

.serverError {
    color: red;
    border: 1px solid red;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}