@font-face {
    font-family: 'Agency';
    src: local('Agency'), url(./assets/fonts/mainFont.ttf) format('truetype');
}

textarea, input {
    resize: none;
    font-family: 'Agency', serif;
    font-size: 1.1em;
}

.app-wrapper {
    font-family: 'Agency', serif;
    color: white;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;

    overflow-x: hidden;
}

.main-content {
    width: 100%;
}

.samuraiImg {
    position: absolute;
    top: -40px;
    right: -95px;
    width: 400px;
}



